---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.text {
    width: auto;
}

.home-text {
    width: 100vh; 
    display: flex;
    flex-direction: row; 
    gap: 70px
}

.posts {
    font-size: 18px;
  }

.date {
    margin: 0px; 
}