---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.text {
    width: 300%;
}

// .profile-pic {
//     width: 100%; 
// }

.home-text {
    width: 100%; 
    display: flex;
    flex-direction: row; 
    gap: 10%
}

.posts {
    font-size: 18px;
  }

.date {
    margin: 0px; 
}