---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.text {
    width: 300%;
}

.profile-pic {
    width: 1500px; 
}

.home-text {
    width: 60vw;
    // height: 100vw; 
    display: flex;
    flex-direction: row; 
    gap: 10%
}

.posts {
    font-size: 18px;
  }

.date {
    margin: 0px; 
}